@using Microsoft.AspNet.Identity
@model FitnessForLife.Models.User

@if (Request.IsAuthenticated && !User.IsInRole("FitnessManager"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "btn-primary-text-color"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn-primary-text-color" })
            </li>
            <li><a class="btn-primary-text-color" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        <button class="btn btn-secondary my-2 my-sm-0">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn-text-color" })</button>
        <button class="btn btn-primary my-2 my-sm-0">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn-primary-text-color" })</button>
    </div>
}
