@{
    ViewBag.Title = "Home";
}

    <img src="~/Content/fitnessforlife.jpg" class="img-fluid start" alt="Responsive image" />

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Create Appointments", "Index", "Appointments", routeValues: null, htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">As an owner of Fitness for Life you can create appointments for users so that they can view the available appointments.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Manage Branches", "Index", "Branches", routeValues: null, htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">As an owner of Fitness for Life you can create/edit/delete Fitness centers if you open a new center of close an old one.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Manage Appointments", "Manage", "Appointments", routeValues: null, htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">As an owner of Fitness for Life you can manage appointments for users so that they can view the available appointments.</p>
                </div>
            </div>
        </div>
    </div>