@{
    ViewBag.Title = "Home";
}

    <img src="~/Content/fitnessforlife.jpg" class="img-fluid start" alt="Responsive image" />

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Book an Appointment", "Index", "Appointments", routeValues: null, htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">Have a chat with our trainers and nutritionists. Get an estimate of your ideal weight and select from a wide-range of fiteness programs. Our experts will help you achieve your goals.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Post your progress", "Post", "Engagement", htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">Motivate others by posting something about your progress online like your before-after pictures, the healthy food you have been eating or exercises you have been doing. You can read other peoples post too and get motivated. Our social media platform can be helpful to encourage yourself to achieve your goals.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 20rem;">
                <h4 class="card-header bg-secondary">@Html.ActionLink("Some Tips", "Tips", "Tips", htmlAttributes: new { @class = "card-title text-white" })</h4>
                <div class="card-body">
                    <p class="card-text">Click and see some tips and tricks to follow in your daily life to burn some calories and keep yourself fit and active.</p>
                </div>
            </div>
        </div>
    </div>